In [1]:
import pandas as pd

# Load the initial dataset
file_path = 'preprocessed_dataset.csv'
df = pd.read_csv(file_path)

In [2]:
# Dropping 'Notebook' and 'Hardware' columns
df_dropped_columns = df.drop(['Notebook', 'Hardware', 'Country', 'ML_Framework','Visualization_tool','Media_sources','Gender'], axis=1)

# Dropping rows where 'Yearly_compensation' is missing
#df_dropped_rows = df_dropped_columns.dropna(subset=['Yearly_compensation'])

# Dropping rows where 'Years_of_machine_learning' is missing
#df_dropped_ml_years = df_dropped_rows.dropna(subset=['Years_of_machine_learning'])

In [3]:
dataset=df_dropped_columns.dropna()
dataset

,Age,Education,Job,Years_of_programming,Years_of_machine_learning,Company_size,Yearly_compensation,Language,IDE,ML_algorithm,Related_activities,Course_platform
0,30-34,Master’s degree,Data Engineer,5-10 years,1-2 years,"10,000 or more employees","100,000-124,999","Python, R, SQL","Visual Studio, PyCharm , Sublime Text","Linear or Logistic Regression, Convolutional N...",Analyze and understand data to influence produ...,"Coursera, DataCamp, Udemy"
2,30-34,Master’s degree,Data Scientist,5-10 years,3-4 years,250-999 employees,"125,000-149,999","Python, SQL, Bash",PyCharm,"Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,"Coursera, DataCamp, LinkedIn Learning, Univers..."
5,35-39,Doctoral degree,Data Scientist,5-10 years,2-3 years,"1000-9,999 employees","70,000-79,999","Python, SQL, Bash","Jupyter, PyCharm , Sublime Text , Vim / ...","Gradient Boosting Machines (xgboost, lightgbm,...",Build prototypes to explore applying machine l...,"Coursera, Fast.ai, Udacity, Udemy, LinkedIn Le..."
6,35-39,Doctoral degree,Research Scientist,1-2 years,Under 1 year,0-49 employees,"30,000-39,999",R,RStudio,Linear or Logistic Regression,Analyze and understand data to influence produ...,None
7,30-34,Bachelor’s degree,Data Engineer,< 1 years,Under 1 year,0-49 employees,"90,000-99,999","Python, SQL, MATLAB",Jupyter,"Linear or Logistic Regression, Dense Neural Ne...",Analyze and understand data to influence produ...,"Coursera, Kaggle Learn Courses, DataCamp, Udemy"
...,...,...,...,...,...,...,...,...,...,...,...,...
33945,45-49,Master’s degree,Teacher / professor,10-20 years,5-10 years,0-49 employees,"20,000-24,999","Python, R, C++, Java, MATLAB","Jupyter, RStudio , Visual Studio Code (VSCod...","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,"Coursera, edX, Kaggle Learn Courses, DataCamp,..."
33946,40-44,Master’s degree,Data Architect,10-20 years,Under 1 year,"10,000 or more employees","100,000-124,999","Python, SQL, C#, Java, Javascript, Bash","Jupyter, Visual Studio Code (VSCode) , PyCha...","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,"Kaggle Learn Courses, DataCamp, LinkedIn Learn..."
33947,35-39,Master’s degree,Data Scientist,1-3 years,1-2 years,"10,000 or more employees","2,000-2,999",Python,Jupyter,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that ...,Other
33949,25-29,Master’s degree,Engineer (non-software),< 1 years,Under 1 year,"10,000 or more employees","25,000-29,999","Python, SQL","PyCharm , Spyder , Jupyter","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important part...,"DataCamp, Udemy"
33950,35-39,Doctoral degree,Research Scientist,3-5 years,Under 1 year,0-49 employees,"15,000-19,999","Python, R, Bash","RStudio , PyCharm , Notepad++",Decision Trees or Random Forests,None of these activities are an important part...,"Kaggle Learn Courses, Udacity, University Cour..."

In [4]:
dataset['Years_of_machine_learning'] = dataset['Years_of_machine_learning'].replace('MachineLearningEngineer', '0')
dataset = dataset[dataset['Education'] != 'I prefer not to answer']

C:\Users\huang\AppData\Local\Temp\ipykernel_4048\1477113649.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Years_of_machine_learning'] = dataset['Years_of_machine_learning'].replace('MachineLearningEngineer', '0')

In [5]:
dataset.Job.value_counts()

Data Scientist                  6530
Software Engineer               3424
DataAnalyst                     3143
Research Scientist              2429
Machine Learning Engineer       2398
Product/ProjectManager          1670
Data Engineer                   1011
Business Analyst                 995
Teacher / professor              560
Statistician                     453
Engineer (non-software)          233
DBA/Database Engineer            174
Data Architect                    69
Developer Relations/Advocacy      59
Developer Advocate                39
Data Administrator                33
Name: Job, dtype: int64

In [6]:
import re

# Function to convert compensation ranges to average values
def convert_range_to_average(compensation_range):
    if "-" in compensation_range:
        start, end = map(int, compensation_range.replace(",", "").replace("$", "").replace("<", "").replace(">", "").split("-"))
        return round((start + end + 1) / 2)
    else:
        return int(compensation_range.replace(",", "").replace("$", "").replace("<", "").replace(">", "").replace(" ", ""))

# Function to extract numbers from strings and calculate the middle value
def extract_and_calculate_middle(s):
    numbers = re.findall(r'\d+', s.replace(",", "").replace("$", "").replace("<", "").replace(">", "").replace(" ", ""))
    if len(numbers) == 2:
        start = int(numbers[0])
        end = int(numbers[1])
        middle = (start + end) // 2
        return middle
    elif len(numbers) == 1:
        return int(numbers[0])
    else:
        return None
# Function to remove text within parentheses
def remove_parentheses(text):
    return re.sub(r'\([^)]*\)', '', text)

In [7]:
dataset['ML_algorithm'] = dataset['ML_algorithm'].apply(remove_parentheses)
dataset['Course_platform']=dataset['Course_platform'].apply(remove_parentheses)
dataset['IDE']=dataset['IDE'].apply(remove_parentheses)
dataset['Yearly_compensation'] = dataset['Yearly_compensation'].apply(convert_range_to_average)
dataset['Years_of_programming'] = dataset['Years_of_programming'].apply(extract_and_calculate_middle)
dataset['Years_of_machine_learning'] = dataset['Years_of_machine_learning'].apply(extract_and_calculate_middle)
dataset['Company_size'] = dataset['Company_size'].apply(extract_and_calculate_middle)
dataset['Age'] = dataset['Age'].apply(extract_and_calculate_middle)
dataset

C:\Users\huang\AppData\Local\Temp\ipykernel_4048\726752154.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['ML_algorithm'] = dataset['ML_algorithm'].apply(remove_parentheses)
C:\Users\huang\AppData\Local\Temp\ipykernel_4048\726752154.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Course_platform']=dataset['Course_platform'].apply(remove_parentheses)
C:\Users\huang\AppData\Local\Temp\ipykernel_4048\726752154.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['IDE']=dataset['IDE'].apply(remove_parentheses)
C:\Users\huang\AppData\Local\Temp\ipykernel_4048\726752154.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Yearly_compensation'] = dataset['Yearly_compensation'].apply(convert_range_to_average)
C:\Users\huang\AppData\Local\Temp\ipykernel_4048\726752154.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Years_of_programming'] = dataset['Years_of_programming'].apply(extract_and_calculate_middle)
C:\Users\huang\AppData\Local\Temp\ipykernel_4048\726752154.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Years_of_machine_learning'] = dataset['Years_of_machine_learning'].apply(extract_and_calculate_middle)
C:\Users\huang\AppData\Local\Temp\ipykernel_4048\726752154.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Company_size'] = dataset['Company_size'].apply(extract_and_calculate_middle)
C:\Users\huang\AppData\Local\Temp\ipykernel_4048\726752154.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Age'] = dataset['Age'].apply(extract_and_calculate_middle)

,Age,Education,Job,Years_of_programming,Years_of_machine_learning,Company_size,Yearly_compensation,Language,IDE,ML_algorithm,Related_activities,Course_platform
0,32,Master’s degree,Data Engineer,7,1,10000,112500,"Python, R, SQL","Visual Studio, PyCharm , Sublime Text","Linear or Logistic Regression, Convolutional N...",Analyze and understand data to influence produ...,"Coursera, DataCamp, Udemy"
2,32,Master’s degree,Data Scientist,7,3,624,137500,"Python, SQL, Bash",PyCharm,"Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,"Coursera, DataCamp, LinkedIn Learning, Univers..."
5,37,Doctoral degree,Data Scientist,7,2,5499,75000,"Python, SQL, Bash","Jupyter, PyCharm , Sublime Text , Vim / ...","Gradient Boosting Machines , Convolutional Neu...",Build prototypes to explore applying machine l...,"Coursera, Fast.ai, Udacity, Udemy, LinkedIn Le..."
6,37,Doctoral degree,Research Scientist,1,1,24,35000,R,RStudio,Linear or Logistic Regression,Analyze and understand data to influence produ...,None
7,32,Bachelor’s degree,Data Engineer,1,1,24,95000,"Python, SQL, MATLAB",Jupyter,"Linear or Logistic Regression, Dense Neural Ne...",Analyze and understand data to influence produ...,"Coursera, Kaggle Learn Courses, DataCamp, Udemy"
...,...,...,...,...,...,...,...,...,...,...,...,...
33945,47,Master’s degree,Teacher / professor,15,7,24,22500,"Python, R, C++, Java, MATLAB","Jupyter, RStudio , Visual Studio Code , S...","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,"Coursera, edX, Kaggle Learn Courses, DataCamp,..."
33946,42,Master’s degree,Data Architect,15,1,10000,112500,"Python, SQL, C#, Java, Javascript, Bash","Jupyter, Visual Studio Code , PyCharm , N...","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,"Kaggle Learn Courses, DataCamp, LinkedIn Learn..."
33947,37,Master’s degree,Data Scientist,2,1,10000,2500,Python,Jupyter,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that ...,Other
33949,27,Master’s degree,Engineer (non-software),1,1,10000,27500,"Python, SQL","PyCharm , Spyder , Jupyter","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important part...,"DataCamp, Udemy"
33950,37,Doctoral degree,Research Scientist,4,1,24,17500,"Python, R, Bash","RStudio , PyCharm , Notepad++",Decision Trees or Random Forests,None of these activities are an important part...,"Kaggle Learn Courses, Udacity, University Cour..."

In [8]:
df=dataset.copy()
df = df[(df['Job'] != 'DBA/Database Engineer')&(df['Job'] != 'Data Architect')&(df['Job'] != 'Developer Relations/Advocacy')&(df['Job'] != 'Developer Advocate')&(df['Job'] != 'Data Administrator')&(df['Job'] != 'Engineer (non-software)')&(df['Job'] != 'Teacher / professor')&(df['Job'] != 'Business Analyst')&(df['Job'] != 'Data Engineer')&(df['Job'] != 'Product/ProjectManager')&(df['Job'] != 'Statistician')]
df.Job.value_counts()

Data Scientist               6530
Software Engineer            3424
DataAnalyst                  3143
Research Scientist           2429
Machine Learning Engineer    2398
Name: Job, dtype: int64

In [9]:
# Exporting the cleaned dataset
output_file_path = 'final_dataset.csv'
df.to_csv(output_file_path, index=False)